<html>
	<head>
        <title>admin</title>
    </head>
	<body>
		<h2>入力</h2>
		<form method="post" action="/admin/create">
			<label for="result">result:</label>
			<input name="result" type="text">
			</br>
			<label for="text">text:</label>
			<input name="text" type="text">
			<br>
			<input type="submit" value="保存">
		</form>

		<h2>CSVアップロード</h2>
		<h4>通常処理</h4>
		<p>処理時間 {{ .SingleProcessTime }}</p>
		<form method="post" enctype="multipart/form-data" action="/admin/upload">
			<input type="file" name="uploaded" accept=".csv" required>
			<button type="submit">送信する</button>
		</form>
		<h4>並行処理</h4>
		<p>処理時間 {{ .MultipleProcessTime }}</p>
		<form method="post" enctype="multipart/form-data" action="/admin/multiple_upload">
			<input type="file" name="uploaded" accept=".csv" required>
			<label for="multiple">並行数:</label>
			<input name="multiple" type="number" min="1" max="10" value="1">
			<button type="submit">送信する</button>
		</form>

		<h2>一覧</h2>
		{{ if . }}
			<table border="1">
				<tr>
					<th>ID</th>
					<th>Result</th>
					<th>Text</th>
					<th></th>
				</tr>
				{{ range .Fortunes }}
					<tr>
						<td>{{ .Id }}</td>
						<td>{{ .Result }}</td>
						<td>{{ .Text }}</td>
						<td><a href="/admin/edit/{{ .Id }}">編集</a></td>
					</tr>
				{{ end }}
			</table>
		{{ else }}
			データがありません
		{{ end }}
	</body>
</html>